@import 'roboto.css';

body {
 font-family: 'RobotoRegular', Veranda, Arial, sans-serif;
 background-image: url('images/cross_scratches.png');
}

#phone {
 background-image: url('images/nexus_small.png');
 /*height: 1671px;
 width: 854px;*/
 width: 427px;
 height: 836px;
 float: left;
 margin-right: 20px;
}

#phone img {
 /*padding-left: 66px;
 padding-top: 212px;*/
 padding-left: 33px;
 padding-top: 106px;
}

h2 {
 font-family: 'RobotoBold', sans-serif;
 text-align: center;
}

h5 {
 font-family: 'RobotoBold', sans-serif;
 margin:0;
 padding:0;
}
