@import 'roboto.css';

body {
 font-family: 'RobotoRegular', Veranda, Arial, sans-serif;
 background-image: url('images/cross_scratches.png');
}

#phone {
 background-image: url('images/nexus_small.png');
 width: 427px;
 height: 836px;
 float: left;
 margin-right: 20px;
}

#phone img {
 padding-left: 33px;
 padding-top: 106px;
}

h2, h5 {
 font-family: 'RobotoRegular', sans-serif;
}

h2 {
 text-align: center;
}

h5 {
 margin:0;
 padding:0;
}
